form {
  color: black;
}

.profile-user {
  display: "flex";
  align-self: "center";
  border: 1px solid red;
  padding: 25px;
  flex-wrap: wrap;
  align-items: center !important;
}


.avatar{

 display: flex !important;
 margin-top: 1.5em;


}

#main-container > div.profile-user > div:nth-child(1) > div > span{
 text-align: center;
  justify-content: center;
   border: 2px solid white;
 
}