#main-container > nav {
    background-color:#f46c6c!important;
}

#main-container > div > nav{
     background-color:#f46c6c!important;
}

#basic-navbar-nav > form > a{
color:white;
}

#main-container > nav > button > span{
    color:white!important;
}

#main-container > nav > span > img{
    width: 60%;
}


