#main-container > nav {
    background-color:#f46c6c!important;
}

#main-container > div > nav{
     background-color:#f46c6c!important;
}

#basic-navbar-nav > form > a{
color:white;
}

#main-container > nav > button > span{
    color:white!important;
}

#main-container > div.layout-navbar > nav > span > img{
    max-width: 70% !important;
}

/* 
.layout-navbar{
    margin-bottom: 20px;
} */