/* selector of card properties */

.ant-card{
    color: white !important;
    background-color: #ffffff00 !important;
}

/* selector of title */

.ant-card-meta-title {
    overflow: hidden;
    color: white;
    font-weight: 500;
    font-size: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.583);
}

.ant-card-bordered {
    border: 1px solid #ffffff;
}

/* selector of description */

.ant-card-meta-description {
    color: white!important;
     font-size: 15px;
}

/* selector of courses */

#main-container > div.ant-list.ant-list-split.ant-list-grid > div > div > div > div> div > div > div > div > p{
    color: white;
    font-size: 15px;
}

/* selector of second description */

div > div > div > div.ant-card-body > p{
    color: white;
    font-size: 15px;
}

/* selector of warning message */
.ant-form-item-explain.ant-form-item-explain-error {
    color: #ffe000 !important;
}

/* selector of title */
.ant-card-head-title{
color: white;
font-size:17px;
}

#main-container > div> div.ant-list.ant-list-split.ant-list-grid > div > div > div > div> div > div > div.ant-card.ant-card-bordered > div.ant-card-body{
    font-size:14px;
}

#main-container > div > div > h2{
    text-align: center;
}

.form-register{
    align-items: center !important;
  
    margin:0 auto !important;

}

#main-container > div.sc-dlfnbm.huUNmX{
    background-color:#2d7aa6;
    
}

h4.ant-typography, .ant-typography h4 {
    margin-bottom: 0.5em;
    color: white;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
}

h3.ant-typography, .ant-typography h3 {
     margin-top: 2em;
    margin-bottom: 0.5em;
   color: white;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.35;
}


.ant-typography {
    color: white;
    overflow-wrap: break-word;
}

a {
    
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
 
    text-decoration: none;
    color: white!important;
}

.ant-card-extra {
    float: right;
    margin-left: auto;
    padding: 16px 0;
    color: rgb(255 255 255);
    font-weight: normal;
    font-size: 14px;
}

#main-container > div:nth-child(2) > div:nth-child(1) > span{
    margin-top: 2em;
    width:150px !important;
    height: 150px !important;
    border: 4px solid white;
}

.ant-btn-primary {
    color: #ffffff;
    background: #f46c6c;
    border-color: #f46c6c;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    font-size: 12px;
    border-radius: 15px;
    margin:5px;
   
}

#form_in_modal > div> div.ant-col.ant-form-item-label > label{
    color: black!important;
}

#nest-messages > div:nth-child(3) > div > div > div{
    width: 100% !important;
}


#nest-messages > div:nth-child(3) > div > div > div > button:nth-child(2){
    margin-left: 5px;
}

#nest-messages > div:nth-child(3) > div{
    text-align: center;
    align-items: center;
    justify-content:center;
    margin: 0 auto;
}

.ant-btn{
    color: #ffffff;
    background: #f46c6c;
    border-color: #f46c6c;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    font-size: 12px;
    border-radius: 15px;
}

.ant-pagination-item-active {
    font-weight: 500;
    background: #fff;
    border-color: #ffdb0c;
    color: black!important;
}
.ant-pagination-item {
    display: inline-block;
    min-width: 32px;
    height: 32px;
    margin-right: 8px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    list-style: none;
   background-color: #ffffff00;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    outline: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
     color: black!important;
}

.ant-list-item-meta-description {
    color: rgb(255 255 255);
    font-size: 13px;
    line-height: 1.5715;
}


#main-container > div > div> div > div > ul > li > div.ant-list-item-meta > div > h4{
    font-size: 15px;
}
